.btn-info {
    background:$pale-blue;
    border-radius:0;
    border: none;
    font-size: 1.1rem;
    padding: 0.9rem 2rem;
    &:hover {
        background:$purple-dark;
    }
  }
  .btn {
    padding:0.7rem 2rem;
    border-radius: 3rem;
    font-weight:500;
    text-decoration:none;
  }
