

.wrapper {
  max-width: 700px;
  margin: 0 1rem;
  position: relative;
  @include media-breakpoint-up(md) {
    margin: 0 auto;
  }
}
.box {
  img {
    max-width: 100%;
  }
  a {
    color: #212121;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    padding-bottom: 0.05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.2);
    -webkit-transition: border-color .15s ease-out,color .15s ease-out;
    -moz-transition: border-color .15s ease-out,color .15s ease-out;
    -ms-transition: border-color .15s ease-out,color .15s ease-out;
    -o-transition: border-color .15s ease-out,color .15s ease-out;
    transition: border-color .15s ease-out,color .15s ease-out;
    &:hover {
      text-decoration:none;
      // color: rgba(33,33,33,.6);
    border-color: rgba(0,0,0,1);
    }
  }
  p {
    margin:0;
    line-height:1.55;
  }
}
.rw-logo {
  max-width: 8rem;
  margin:2rem auto;
  display: block;
}
.main-img {
  margin-bottom: 0rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.box--main {
  background:#E8DCCC;
  border-radius:1.5rem;
}
.inner {
  padding: 1rem 1.4rem 1.4rem;
  display:block;
  @include media-breakpoint-up(md) {
    padding: 1.4rem 2rem;
  }
}
.fourohfour {
  margin:0 auto;
  display:block;
  width: 100%;
  @include media-breakpoint-up(sm) {
    max-width:400px;

  }
}