.pagination-wrapper {
  width:100%;
  height: 2rem;
  position:relative;
  margin-top:1rem;
}
.swiper {
  padding: 0 0 1.5rem 0 !important;
}
.swiper-img {
  width:100%;
}
.swiper-pagination {
  
}
.swiper-arrow {
  display: block;
  float: right;
  padding: 0 1rem 1rem;
}