$grid-gutter-width: 60px;


$mb-teal:#12ACB8;
$mb-dark-blue:#366F80;
$mb-beige:#EFEAE4;
$mb-mustard:#F1B33E;
$mb-brown:#CD9A85;
$mb-pink:#C9899E;
$mb-light-blue:#E1F1FA;
$mb-green:#7CC19A;
$mb-dark-green:#397877;
$mb-grey-green:#B8CAC7;
$mb-light-grey:#f5f5f5;
$text-link-color:#2b89bf;


$body-color:  #222;
$purple:  #7534EE !default;
$purple-dark:#481B8E !default;
$lilac:#F1EAFD;
$lilac-dark:#C7B9DE;
$pink:#ED73A9;
$nav-link-padding-y:                2rem;
$nav-link-padding-x:                4rem;
$navbar-nav-link-padding-x:         4rem;
$light-blue:  #E5EDFA;
$dark-blue: #1b3961;
$dark-grey: #70768e;
$blue: #00B0EB;
$pale-orange:#FCE0CE;
$pale-green:#D5DBAC;
$pale-green:#D5DBAC;
$pale-blue:#E5EBF0;
$primary: $mb-teal;






$link-color:$body-color;

$content-strip-color-1:$mb-light-grey;
$content-strip-color-2:$mb-teal;
$content-strip-color-3:$mb-dark-blue;
$content-strip-color-4:$mb-beige;
$content-strip-color-5:$mb-mustard;
$content-strip-color-6:$mb-brown;
$content-strip-color-7:$mb-pink;
$content-strip-color-8:$mb-light-blue;
$content-strip-color-9:$mb-green;
$content-strip-color-10:$mb-dark-green;
$content-strip-color-11:$mb-grey-green;

$btn-border-radius: 0;

$font-family-sans-serif:'Graphik Web', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$headings-font-weight:500;

