

// Set responsive break points
// -------------------------

$xs-start:          450px   !default;
$sm-start:          769px   !default;
$md-start:          993px   !default;
$lg-start:          1200px  !default;
$xl-start:          1400px  !default;
$xxl-start:         1700px  !default;


$xs-end:          $sm-start - 1px!default;
$sm-end:          $md-start - 1px!default;
$md-end:          $lg-start - 1px!default;



@mixin media-query($media-query) {
	@if $media-query == xxs-max {

			@media only screen and (max-width:$xs-start) { @content; }
	}
	@if $media-query == xs {

			@media only screen and (min-width:$xs-start) { @content; }
	}
	@if $media-query == xs-max {

			@media only screen and (max-width:$xs-end) { @content; }
	}
	@if $media-query == sm {

			@media only screen and (min-width:$sm-start) { @content; }
	}

	@if $media-query == sm-max {

			@media only screen and (max-width:$sm-end) { @content; }
	}

	@if $media-query == md {

			@media only screen and (min-width:$md-start) { @content; }
	}
	@if $media-query == md-max {

			@media only screen and (max-width:$md-end) { @content; }
	}

	@if $media-query == lg {

			@media only screen and (min-width:$lg-start) { @content; }
	}

	@if $media-query == xl {

			@media only screen and (min-width: $xl-start) { @content; }
	}

	@if $media-query == xxl {

			@media only screen and (min-width: $xxl-start) { @content; }

		}
}

#scrollUp {
bottom: 15px;
right: 15px;
font-size: 15px;
padding: 15px 20px;
background: #555;
border-radius: 3px;
background: #555;
background: rgba(0, 0, 0, 0.2);
color: #fff;
}

.clear {
	clear:both;
	float:left;
	width:100%;
}
.hide-sm {
	@include media-query (sm-max) {
		display:none;
	}
}
.col-50 {
	width:50%;
	float:left;
}
.phi-wrap {
	width:100%;
	float:left;
}
.phi {
	float:left;
	display:block;
}
.phi-lg {
	width:100%;
	@include media-query (md) {
		width:61.8%;
		.phi-inner {
			max-width:820px;
			float:right;
		}
	}
	@include media-query (sm-max) {
		padding-bottom:30px;

	}
}
.phi-sm {
	width:100%;
	@include media-query (md) {
		width:38.2%;
		.phi-inner {
			max-width:400px;
			float:left;
		}
	}
}
.bgt-why-not {
	position:relative;
}
// switch around inner floats
.switch .phi-lg .phi-inner {
	float:left;
}
.switch .phi-sm .phi-inner {
	float:right;
}
.phi-inner {
	padding:30px;
	@include media-query (md) {
		padding:60px;
	}
}
@media (max-width:800px) {
	.phi {
		width:100%;
	}
}
.padding {
	padding:40px;
}
@media (max-width:600px) {
	.col-50 {
		width:100%;
	}
	.padding {
		padding:20px;
	}
}

body.bgt {
	background: #795547 url(../../img/bgt/bg.png) repeat;

	font-family:helvetica, arial, sans-serif;

}
@media (min-width: 800px) {
	#ym-navbar .nav a.bgt-nav-link {
		border-bottom:1px solid #fff;
		padding:22px 2px 2px;
		margin-left:12px;
		margin-right:12px;
		border-bottom:1px solid rgba(255,255,255,0.3);
		&:hover {
			border-color:#fff;
		}
	}
}
li {
	line-height:1.5;
}
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

}
.bgt #ym-navbar {
  position: relative;
	.nav-collapse {
		margin-left:0;
	}
	.nav-elsewhere-links--title {
		display:none;
	}
	ul.nav.nav-elsewhere-links {
		background:none;
		padding:0 0 30px;
		margin:0;
		border-bottom:none;
		a {
			color:#fff;
		}
	}
}
.bgt h2 {
  font-size: 18px;
  color: #5B8198;
	@include media-query (md) {
		font-size: 22px;
	}
}
.bgt ::selection {
  background: #FFED8D; /* WebKit/Blink Browsers */
  color: #000;
}
.bgt-header-wrap {
  background: #598a9a url(../../img/bgt/header-wrap.png) repeat;
}
.bgt-wrap {
  max-width: 800px;
  margin: 0 auto;
}
.bgt-intro-wrap {
  text-align: center;
	margin:0 30px;
	@include media-query (md) {
		margin:0;
	}

}
.bgt-intro-wrap h1 {
  margin: 30px 0 30px;
  font-weight: bold;
  color: #fff;
	@include media-query (sm-max) {
		font-size:26px;
		margin:10px 0;
	}
}
.bgt-intro-text {
  font-size: 20px;
  margin:60px 0 110px;
  color: #fff;
	@include media-query (sm-max) {
		font-size:14px;
		margin:10px 0;
	}
}
.bgt-intro-p {
	font-family:cousine, sans-serif;
	position:relative;
}
.bgt-arrow {
	display:block;
	bottom:-70px;
	float:left;
	width:30px;
	height:46px;
	background:url(../../img/bgt/bgt-arrow.png) no-repeat top center;
	position:absolute;
	margin-left:-15px;
	left:50%;
	right:50%;
}
.bgt-intro-img-wrap {
  position: relative;
}
img.bgt-intro {
  border-radius: 4px;
	box-shadow:0 0 7px rgba(0, 0, 0, 0.2);
	@include media-query (md) {
  	box-shadow: 5px 6px 0 rgba(109, 119, 142, 0.35), 0 0 7px rgba(0, 0, 0, 0.2);
		border-radius:0;
	}
}
.bgt-free {
	position: absolute;
	top: -50px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	right: -40px;
	padding: 44px 34px;
	width: 110px;
	height: 110px;
	background: #f88261 url(../../img/bgt/free-bg.png);
	border-radius: 80px;
	vertical-align: middle;
	border-radius: 80px;
	display: block;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.005);
	&:hover {
		color:#fff;
		box-shadow:0px 0px 10px rgba(0, 0, 0, 0.4);
		.free-bg {
			animation:none;
		}
	}
	@include media-query (sm-max) {
		top: -10px;
		right: -10px;
		width: auto;
		border-radius: 60px;
		height: auto;
		padding: 19px 13px;
		font-size: 14px;
		font-family: cousine, sans-serif;
	}
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




.bgt-why-and-why-not {
  background: #fff;
  float: left;
  width: 100%;
	margin: -20px 0 0;
	@include media-query (md) {
			margin: -150px 0 0px 0;
	}
}
.bgt-why-and-why-not .phi {
	@include media-query (md) {
			padding: 130px 0 0px;
	}
}
.bgt-why-and-why-not .phi-sm {
	background:#ddeaed;
	@include media-query (md) {
		min-height: 560px;
	}
	@include media-query (sm-max) {
		padding-bottom: 120px;
	}
}
.bgt-why-and-why-not-inner {
  max-width: 720px;
  position: relative;
  margin: 0 auto;
}
.bgt-why-and-why-not h2 {
	border-bottom: 2px dotted;
	padding: 5px 0;

}
.col-half {
  width: 50%;
  float: left;
}
ul.bgt-why-list {
  list-style-type: none;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
	li {
		float:left;
		border-bottom: 1px solid #e8e8e8;
		list-style-type:none;
		width:100%;
		padding: 10px 0 10px 30px;
		position:relative;
	}
}
.tick-icon {
	width: 21px;
	float: left;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 1px 11px 11px 0;
	height: 21px;
	position: absolute;
	left: 0;
	top: 9px;
	border:1px solid rgba(53, 69, 81, 0.99);
	background: rgba(255,255,255,0.3);
	border: 1px solid #9AA3A9;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
li.active .tick-icon{
	background:#000;
	border: none;
	background: #CCD3D8;
	box-shadow: none;

	&:after {
		content: '';
		width: 11px;
		height: 5px;
		position: absolute;
		top: 5px;
		left: 4px;
		border: 2px solid #344652;
		border-top: none;
		border-right: none;
		background: transparent;
		opacity: 1;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}
.tick-icon-unchecked {
	width: 19px;
	float: left;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 19px;
	margin: 1px 11px 40px 0;
	border:1px solid rgba(53, 69, 81, 0.99);
	background: rgba(255,255,255,0.3);
	border: 1px solid #9AA3A9;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
	position: absolute;
	left: 0;
	top: 9px;

}
.bgt-until-now {
	float: left;
	font-family: Cousine, sans-serif;
	font-weight: bold;
	color: #fff;
	display: block;
	margin: 30px 0px 0 30px;
	text-align: center;
	position: relative;
	z-index: 10;
	height:100px;
	position: absolute;
	top:170px;


	left: 50%;
	margin: 0 0 0 -60px;
		@include media-query (md) {
			top: 240px;
		}

}

.until-now-text {
	background: #ef7150;
	padding: 8px 10px;
	display: block;
	width: 127px;
	position: relative;
	z-index: 10;
	margin: 0px 0 0 0;
	border-radius: 23px;
	line-height: 1;
}
.until-now-arrow {
	border-right: 3px solid #ef7150;
	height: 100px;
	position: absolute;
	left: 60px;
	float: left;
	top: 0;
	display: block;
	width: 1px;
	z-index: 1;

}
.until-now-arrow-head {
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: 0;
	left: -6px;
	border: 3px solid #ef7150;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 1;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.old-and-new {
	.phi {
		@include media-query (md) {
			min-height:540px;
		}
	}
	h2 {
		color:#fff;
	}
}
.phi.old {
	background:#4d565d;
	color:#fff;
}
.phi.new {
	background:#8c8a9e;
	color:#fff;
}
.img-new {
	width:100%;
	float: left;
	@include media-query (sm) {
		max-width: 320px;
		width:auto;
		margin-right: 30px;
	}
}
.img-old {
	margin-bottom:30px;
	max-width:280px;
}
.get-app-wrap {
	max-width:560px;
	margin:0 auto;
}
.get-app {
	background: #FFED87;
	color: #000;
	margin: 0px 0px 0px;
	width: 100%;
	padding: 30px;
	float: left;
	display: block;
	box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.17), 0 0 7px rgba(0, 0, 0, 0.03);
	position: relative;
	z-index: 10;
	border-bottom: 5px solid #F6D644;
	@include media-query (md) {
		margin: -100px 0px 0px;
		padding: 40px 70px;
	}
}

.get-app h2.bgt-postit-title {
  text-align: center;
	border-bottom: 1px solid #e0502c;
	padding-bottom: 15px;
	margin: 0;
	line-height:1.3;
	color:#000;
}
.get-app ol {
	margin:40px 30px;
}
.get-app li {
	font-size:20px;
	line-height:1;
	margin:0 0 24px;
}
.postit-large {
	line-height:1.2;

}
.postit-small {
	font-size:13px;
	clear:both;
	margin:6px 0 0;
	display:block;
	color:rgba(0, 0, 0, 0.66);
	a {
		color:rgba(0, 0, 0, 0.66);
		text-decoration:none;
		border-bottom:1px solid rgba(0, 0, 0, 0.2);
	}
}

.download-btn {
	display: block;
	width: 100%;
	float: left;
	padding: 20px 30px;
	text-align: center;
	background: #EF754E;
	color: #fff;
	margin: 0px 0 0;
	font-weight: bold;
	border-bottom: 4px solid #D73C0A;
	border-radius: 6px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size:20px;
	@include media-query (sm-max) {
		line-height: 1.3;
		font-size:15px;
		padding:20px;
	}
}
.download-btn:hover {
  text-decoration:none;
  color:#fff;
	background: #e0502c;
}
.extra {
	width:100%;
	clear:both;
	padding-top:50px;
	max-width:1200px;
	margin:0 auto;
	li {
		line-height:1.5;
	}
	a {
		color:#1f749f;
		border-bottom:1px solid #1f749f;
		border-bottom:1px solid rgba(31, 122, 160, 0.4);
		&:hover {
			border-bottom:1px solid rgba(31, 122, 160, 1);
			text-decoration:none;
		}
	}
	h2 {
		font-size:30px;
		margin-bottom:40px;
	}
}
#help {
	float:left;
	width:100%;
}
.extra-title-wrap {
	float: left;
	width: 100%;
	background-size:100%;
	color: #fff;
	padding: 270px 0 100px;
	margin: -200px 0 0 0;
	position: relative;
	z-index: 1;
	@include media-query (sm-max) {
		font-size:22px;
		padding: 20px 0 80px;
		margin: 0;

	}
}
.extra-title {
	text-align: center;
	margin: 30px 0 40px;
	float: left;
	width: 100%;
	position:relative;
	color: #fff;
	.bgt-arrow {
		bottom:-80px;
	}
	@include media-query (sm-max) {
		font-size:22px;
	}
}
.extra-wrap {
	background:#e1d7c9;
	float:left;
	width:100%;
}
/*==================== help area ====================*/
.help-img {
	border:10px solid #fff;
	margin-bottom:40px;
}
/*==================== Keyboard shortcut ====================*/
ul.keyboard-shortcuts, ul.keyboard-shortcuts li {
	list-style-type:none;
	margin:0;
	padding:0;
}
ul.keyboard-shortcuts li {
	border-bottom:1px solid #999;
	float:left;
	padding:20px 0;
	width:100%;
}

.ks-wrap {
	float:right;
}
.ks-wrap span {
	display:block;
	float:left;

	padding: 5px 8px;
}
.ks {
	background-color: #eee;
	font-size: 12px;
	font-weight: 500;
	margin:0 5px;
	border-radius: 3px;
}

.extra-footer {
	float:left;
	width:100%;
	border-top:1px solid #000;
	border-top:1px solid rgba(0, 0, 0, 0.43);
}
