/* @override 
	http://localhost:3000/assets/mobile.css?body=1
	http://richwells.github.io/richwells.me/css/responsive.css
	http://richwells.me/css/responsive.css
*/

.container-fluid, .navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

/* Large desktop */
@media (min-width: 1200px) {

body {
  font-size: 16px;

}
h1 {
  font-size: 46px;
}
.tile__link {

  min-height: 250px;
  
}
.about-header {
	background: #314414 url(../img/about-header-xl.jpg) no-repeat center 0px;
	
}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  html body .container-fluid .row-fluid div.span-home {
    width: 80%;
    margin-left: 10%;
  }


}
@media (max-width: 979px) {
    .me {
  width: 160px;
}
  .home .site-intro {
  font-size: 25px;
}
.about-intro {
	font-size: 36px;
	margin: 50px 0;
}
.listy-big {
	font-size: 24px;
}
.about-intro br {
	display: none;
}
.lower-strip {
	padding: 0 30px;
}

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
body {
  padding: 0;
}
body.tumblr {
  background: #fff !important;
  padding-top: 0;
}
.post-wrapper {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

 /*remove tumblr glass thing*/
.nav-menu-bg {
	display: none !important;	
}


.padding-mobile {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  clear: both;
}

.container-fluid {
  margin: 0;
  width: 100%;

}
.tile {
  width: 50%;
  float: left;
  clear: none;
  margin: 0 0 15px;
}
.tile__link {
  min-height: 240px;
  padding-bottom: 10px;
}
.hide-tablet {
  display: none !important;
  
}
.container-fluid .span9.home-intro {
  width: 80%;
  margin-left:10%;
  margin-bottom: 30px;
}
.home .site-intro {
  font-size: 20px ;
}
.tiles.row-fluid {
  margin: 0;
  width: 100%;
  float: left;
  padding: 0;
}


.tumblr.permalink #ym-navbar {
	margin-bottom: 50px;
}

.navbar-inner {
  width: 100%;
  margin: 0;
  padding: 0;
}
#ym-navbar a.brand {
  padding-left: 30px;

}
 #ym-navbar .nav-collapse .nav > li > a {
    padding: 10px 20px;
    font-weight: normal;
}
#ym-navbar .nav > li.active > a {
    padding: 10px 20px;
    color: #78A82B;
    font-weight: bold;
}
#ym-navbar .nav-collapse {
  position: absolute;
  z-index: 20;
  width: 100%;
  float: left;
  top: 73px;
  padding-right: 0;

  background: #333;
  background: rgba(0,0,0,0.86);
}
#ym-navbar .nav-collapse {
  top: 54px;
  
  -webkit-box-shadow:1px 8px 0px rgba(0,0,0,0.2);
  box-shadow:1px 8px 0px rgba(0,0,0,0.2);
}
a.btn.btn-navbar {
  z-index: 50;
  background: none;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
  border: none;
  
}
#ym-navbar a.btn-navbar {
  padding-top: 20px;
  padding-bottom: 22px;
}

  #ym-navbar a.brand {
    width:100px;
    padding: 0px 20px 0;
    margin-top: 15px !important;
  }


a.btn.btn-navbar.active {
  background: #000;
}

.elsewhere-links li {
	width: 25%;
	margin-bottom: 50px;
	float: left;
}

.photoset .post,
.text .post,
.video .post {
    padding: 0 20px 0 20px;
}
.photo .post {
	padding: 0 5px 0 5px;
}
#posts {
	padding-left: 0;
	padding-right: 0;
	margin-top: 120px;
}

.index-page #posts {
  margin-top: 20px;
}
.post .caption {
	margin-left: 0;
	margin-right: 0;
	
	padding-left: 0;
	padding-right: 0;
	
}
.post .with-caption .caption {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 16px;
}
.photo .post .with-caption .caption {
	margin-top: 0px;
}
article.photo {
	margin-left: 10px;
	margin-right: 10px;
}
.header-tumblr h1 {
	font-size: 35px;
}

.header-tumblr h2 {
	font-size: 20px;
	line-height: 1.32;
}

.header-tumblr {
	padding-top: 60px;
	padding-bottom: 30px;

}
li.flickr-list-item {
	margin-left: 13%;
	
}
.post-arrows {
	top: 55px;
	position: absolute;
}

a.all-posts-link {
	display: block;
	width: 100px ;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 75px;
	margin: 0 0 0 -50px;
}
.permalink .text .post {
	padding-top: 30px;
	margin-top: 10px;
	border-top: 1px solid #61B580;
}

.about-header {
	background: #314414 url(../img/about-header-md.jpg) no-repeat center 0px;
	height: 670px;
}
.hello-bubble {
	width: 300px;
	margin-top: 40px;
}
.scrapbook-header {
	padding-top: 0px;
	text-align: center;
}
.scrapbook-title {
	margin: 30px 5% 20px;
	width: 90%;
}

.sh-1 {
	background: #fff;
	padding-bottom: 20px;
}
.cambodia .header-tumblr {
	padding-bottom: 0;
}
.cambodia .header-tumblr .lead {
	font-size: 19px;
	line-height: 1.45;
	font-weight: 500;
}
}
 
@media (max-width: 650px) {
  .container-fluid .span9.home-intro {
  width: 95%;
  margin-left:5%;
  margin-bottom: 30px;
}
  .me {
  width: 140px;
}
.cambodia-title {
  background: url(../img/cambodia-title-sm.jpg) top center no-repeat;
  background-size: 100%;
  padding-top: 30%;
  margin: 20px 0;
}
 
.cambodia .text .post {
  padding-top: 20px;
  margin: 0 15px;
}  
}
 
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .hide-tablet {
  display: block !important;
  
}

.me {
  width: 50%;
  margin:0px 25% 20px;
}
.container-fluid .span9.home-intro {
  width: 100%;
  float: none;
  text-align: center;
  padding: 0;
  margin-left:auto;
  margin-right: auto;
  
}
.home .site-intro {
  font-size: 20px;
  width: 100%;
  float: none;
}
.tile{
  width: 100%;
  float: left;
  clear: none;
  display: block;
  margin: 0 0 10px;
}
.tile__link {
  min-height: auto;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.header-tumblr br {
	display: none;
}
.elsewhere-links li {
	width: 33%;
	margin-bottom: 50px;
	float: left;
}
li.flickr-list-item {
	margin-left: 0;
	
}
.about-intro {
	font-size: 25px;
}
.listy-big {
	font-size: 15px;
	font-weight: 400;
}
.hello-bubble {
	display: none;
}
.about-header {
	background: #314414 url(../img/about-header-sm.jpg) no-repeat center 0px;
	height: 220px;
}
.photoset .panel, .text .panel, .video .panel, .photo .panel {
  border-bottom: 1px solid #ccc;
}
}

