.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-107,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-107,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-107 {
      background: none repeat scroll 0 0 #19975d;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-107,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-107,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-107 {
      background: none repeat scroll 0 0 #19975d;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-107 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-107 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-107 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-107 .cutoff {
      background: none repeat scroll 0 0 #19975d;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-107,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-107 {
      background: none repeat scroll 0 0 #19975d !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-108,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-108,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-108 {
      background: none repeat scroll 0 0 #765ba7;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-108,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-108,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-108 {
      background: none repeat scroll 0 0 #765ba7;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-108 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-108 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-108 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-108 .cutoff {
      background: none repeat scroll 0 0 #765ba7;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-108,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-108 {
      background: none repeat scroll 0 0 #765ba7 !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-109,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-109,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-109 {
      background: none repeat scroll 0 0 #19975d;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-109,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-109,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-109 {
      background: none repeat scroll 0 0 #19975d;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-109 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-109 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-109 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-109 .cutoff {
      background: none repeat scroll 0 0 #19975d;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-109,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-109 {
      background: none repeat scroll 0 0 #19975d !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-110,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-110,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-110 {
      background: none repeat scroll 0 0 #f15060;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-110,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-110,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-110 {
      background: none repeat scroll 0 0 #f15060;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-110 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-110 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-110 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-110 .cutoff {
      background: none repeat scroll 0 0 #f15060;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-110,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-110 {
      background: none repeat scroll 0 0 #f15060 !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-111,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-111,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-111 {
      background: none repeat scroll 0 0 #c60751;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-111,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-111,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-111 {
      background: none repeat scroll 0 0 #c60751;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-111 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-111 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-111 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-111 .cutoff {
      background: none repeat scroll 0 0 #c60751;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-111,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-111 {
      background: none repeat scroll 0 0 #c60751 !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-112,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-112,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-112 {
      background: none repeat scroll 0 0 #216a95;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-112,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-112,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-112 {
      background: none repeat scroll 0 0 #216a95;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-112 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-112 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-112 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-112 .cutoff {
      background: none repeat scroll 0 0 #216a95;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-112,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-112 {
      background: none repeat scroll 0 0 #216a95 !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-113,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-113,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-113 {
      background: none repeat scroll 0 0 #93cedd;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-113,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-113,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-113 {
      background: none repeat scroll 0 0 #93cedd;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-113 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-113 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-113 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-113 .cutoff {
      background: none repeat scroll 0 0 #93cedd;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-113,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-113 {
      background: none repeat scroll 0 0 #93cedd !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-114,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-114,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-114 {
      background: none repeat scroll 0 0 #a14f8c;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-114,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-114,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-114 {
      background: none repeat scroll 0 0 #a14f8c;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-114 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-114 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-114 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-114 .cutoff {
      background: none repeat scroll 0 0 #a14f8c;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-114,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-114 {
      background: none repeat scroll 0 0 #a14f8c !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-115,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-115,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-115 {
      background: none repeat scroll 0 0 #f04e98;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-115,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-115,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-115 {
      background: none repeat scroll 0 0 #f04e98;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-115 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-115 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-115 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-115 .cutoff {
      background: none repeat scroll 0 0 #f04e98;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-115,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-115 {
      background: none repeat scroll 0 0 #f04e98 !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }