#crm-container {

	a:link, a:visited { color: $ttc-blue; }

	.crm-actionlinks-top, .crm-actionlinks-bottom {
		.action-link {
			.button {
				background: none;
				padding: 0.25em 0.75em;
				font-size: 22px;
				@include big-button-red;
			}
		}
	}

	.messages, #help {
		font-size: 16px;
		border: none;
		padding: 1em;
	}
	.messages { background-color: $ttc-yellow; }
	#help { background-color: $ttc-lightblue; }

	.event_date_time-section,
	.event_address-section {
		background-color: $ttc-lightergrey;
		font-size: 14px;
	}
	table.no-border {
		margin: 1.5em 0;
		td.section-shown {
			.crm-accordion-wrapper {
				.crm-accordion-header {
					color: white;
					background-color: $ttc-grey;
					font-size: 16px;
				}
				.crm-accordion-body {
					border: 1px solid $ttc-grey;
					td.label {
						color: $ttc-black;
						background-color: $ttc-lightgrey;
					}
					td.html-adjust {
						background-color: $ttc-lightergrey;
						font-size: 14px;
					}
				}
			}
		}
	}
	.crm-socialnetwork {
		border: none;
		padding: 1em;
		background-color: $ttc-lightblue;
		h3.nobackground {
			color: $ttc-grey;
			font-family: $interstate-black;
			font-weight: normal;
			font-size: 24px;
			padding: 0;
		}
		div {
			font-size: 14px;
		}
	}
	.crm-event-register-form-block {
		fieldset.crm-profile {
			legend {
				font-size: 18px;
				font-family: $interstate;
				font-weight: bold;
			}
		}
		.crm-submit-buttons {
			input.crm-form-submit {}
		}
	}
	.crm-block {
		.crm-group {
			margin-top: 2em;
			.header-dark {
				font-size: 18px;
				color: white;
				background-color: $ttc-grey;
			}
			.display-block {
				margin: 0; padding: 0;
				table.form-layout {
					tr {
						td {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}