
.cm-container {
	max-width:1400px;
	margin:0 auto;
}



.filter-strip {
	width:100%;
	clear:both;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 40px 0 20px;
	background: white url(../img/filter-strip-bg.png) repeat-x 0 -1px;
	&.active {
		background-color:$ttc-lightblue;
		margin-bottom:20px;
	}
	a.filter-strip__link {
		color:$ttc-violet;
		padding: 8px 0px 20px 76px;
		display: block;
		background: url(../img/icon-cm--filter.png) no-repeat 20px 0px;
		background: url(../img/icon-cm--filter.svg) linear-gradient(transparent, transparent) no-repeat 20px 0px;
		font-weight: bold;
	}
	.filter-form {
		display:none;
		padding:0 20px;
	}
	&.active .filter-form {
		display:block;
	}
}
.filter-form__title {
	font-size: 20px;
	color: $ttc-violet;
}
.filter-form__list {
	list-style-type:none;
	margin:0 0 20px;
	padding:0;
	display:block;
	width: 100%;
	float:left;
	font-size: 20px;
	line-height: 1;
	@include media-query (md) {
		width: 70%;
	}
	li {
		margin:10px;
		display:inline-block;
	}
}
.filter-form__submit {
	display:block;
	@include big-button-violet;
	padding:8px 15px;
	border-radius:5px;
	font-size:20px;
	@include media-query (md) {
	}
}

h1#page-title {
	font-size: 52px;
    line-height: 45px;
    font-weight: 600 !important;
		@include media-query (md) {
			margin-top:30px;
		}
}
// Hero
// -----------------------------------------------------------------------------

#page-header-wrapper.cm-hero {
	background:url(../img/cm-header-bg.png) repeat-x 0px -1px $ttc-violet;
	color: #fff;
	box-sizing: border-box;
	padding:30px 30px 60px;
	float:left;
	width:100%;
}
#crumbs.cm-crumbs {
	float:left;
	clear:both;
	width:100%;
	padding-left:0;

	li {
		list-style-type:none;
		margin:0;
		padding:0;
		font-weight: normal;
		display:inline-block;
		a {
			color:white;

		}
	}
}
.page-summary {
	font-size: 27px;
	font-weight: 100;
}
.cm-hero {
	#page-title {
		font-weight: 600;
		color:white;
	}
	.cm-page-header-title {
		width:100%;
		float:left;
		box-sizing: border-box;
		@include media-query (md) {
			width:60%;
		}

	}
}
.cm-action-counter {
	float:left;
	width: 100%;
	border-image-source: url(../img/cm--header-counter.png);
	color:$ttc-darkred;
	@include rough-border-global;
	box-sizing: border-box;
	border-radius: 10px;
	margin-top: 30px;
	transform: rotate(-1deg);
	@include media-query (md) {
		float:right;
		width: 35%;
		margin-top: 0px;
	}
	.cm-action-counter__inner {
		background: #fff url(../img/cm-icon-people.png) no-repeat 30px 30px;
		width:100%;
		padding: 70px 20px 20px;
		box-sizing: border-box;
	}
	.cm-action-counter__number {
		font-size: 50px;
		font-weight: 900;
		line-height:1;
		margin:30px 0 0;
		@include media-query (sm) {
			font-size: 60px;
		}
		@include media-query (xl) {
			font-size: 76px;
		}
	}
	.cm-action-counter__text {
		margin-top: 0;
	}
}




.cm-wrapper {
	margin:0 auto;
	box-sizing: border-box;
	text-align:center;
	width:330px;
	@include media-query (xs) {
		width: 420px;
	}
	@include media-query (sm) {
		width: 680px;
	}
	@include media-query (md) {
		width: 980px
	}
	@include media-query (lg) {
		width: 1080px;
	}
	@include media-query (xl) {
		width:100%;
	}
}

.cm-box, .cm-box * {
	box-sizing: border-box;
}

.cm-box {
	display:block;
	width:300px;
	margin:15px;
	position:relative;
	float:left;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	@include media-query (xs) {
		width:400px;
	}
	@include media-query (sm) {
		width: 300px;
	}
	@include media-query (md) {
		width: 280px;
	}
	@include media-query (lg) {
		width: 320px;
	}

}

// Rotate the boxes
.cm-box:nth-child(3n+1) {
	-webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
	transform: rotate(-1deg);
	&:hover {
		-webkit-transform: rotate(-0.5deg); /* Chrome, Safari, Opera */
		transform: rotate(-0.5deg);
	}
}
.cm-box:nth-child(3n+3) {
	-webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
	transform: rotate(1deg);
	&:hover {
		-webkit-transform: rotate(0.5deg); /* Chrome, Safari, Opera */
		transform: rotate(0.5deg);
	}
}


.cm-box__inner {
	padding: 15px;
	display:block;
	// border:5px solid $ttc-darkred;
	@include rough-border-global;
	border-image-source: url(../img/cm-box--speech--red.png);
	border-radius:5px;
	background:white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	&:hover {
		text-decoration:none;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	}
}



.cm-box--personal-story .cm-box__inner::after {
		content: "";
		display:block;
		text-indent: -9000em;
		background: url(../img/icon-cm-quote-arrow.png ) no-repeat 0 0;
		background: url(../img/icon-cm-quote-arrow.svg) linear-gradient(transparent, transparent) no-repeat 0 0;
		width:50px;
		height:28px;
		position:absolute;
		bottom:44px;
		left:50%;
		margin-left: -25px;
}

.cm-content {
	font-size: 18px;
	text-align: left;
}


.cm-img {
	width:100%;
}
.cm-title {
	color: $ttc-darkred;
	margin:10px 0;
}
.cm-read-more {
	color:$ttc-darkred;
	text-decoration:underline;
}
.cm-name {
	color: $ttc-darkred;
	margin:30px 0 0;
	text-align:center;
}
.cm-post-date {
	color: $ttc-darkred;
	margin:0;
	text-align:center;
}

.cm-box--cta {
	@include rough-border-global;
	border-image-source: url(../img/cm-box--cta.png);
	.cm-box__inner {
		background:$ttc-orange;
		border:none;
	}
	.cm-icon {
		float:left;
		margin-right: 10px;
		width:45px;
	}
	.cm-description {
		color: $ttc-darkred;
	}
	.cm-box--cta__button {
		display:block;
		background:$ttc-darkred;
		color:white;
		padding:10px 10px;
		width:100%;
		text-align:center;
		font-weight:bold;
		border-radius:6px;
	}
}

.cm-box--social {
	.cm-box__inner {
		padding: 0;
		margin-bottom: 40px;
		iframe {
			// margin:30px;
		}
		// social icon position
		&::after {
			content: "icon";
			display:block;
			text-indent: -9000em;
			background: url(../img/icon-cm-instagram.png ) no-repeat 0 0;
			background: url(../img/icon-cm-instagram.svg) linear-gradient(transparent, transparent) no-repeat 0 0;
			width:60px;
			height:60px;
			position:absolute;
			bottom:50px;
			left:50%;
			margin-left: -30px;
		}
	}
}



.cm-box--personal-story--purple, .cm-box--instagram  {
	.cm-box__inner {
		// border-color:$ttc-purple;
		border-image-source: url(../img/cm-box--speech--purple.png);
		padding-left: 10px;
		padding-right: 10px;
		padding-top:10px;

	}
	.cm-title, .cm-read-more, .cm-name, .cm-post-date {
		color: $ttc-purple;
	}
}

.cm-box--violet  {
	.cm-box__inner {
		// border-color:$ttc-violet;
		border-image-source: url(../img/cm-box--speech--violet.png);
		&::after {
			background: url(../img/icon-cm-quote-arrow--violet.png ) no-repeat 0 0;
			background: url(../img/icon-cm-quote-arrow--violet.svg) linear-gradient(transparent, transparent) no-repeat 0 0;
		}
	}
	.cm-title, .cm-read-more, .cm-name, .cm-post-date {
		color: $ttc-violet;
	}
}

.cm-box--blue  {
	.cm-box__inner {
		// border-color:$ttc-blue;
		border-image-source: url(../img/cm-box--speech--blue.png);
		&::after {
			background: url(../img/icon-cm-quote-arrow--blue.png ) no-repeat 0 0;
			background: url(../img/icon-cm-quote-arrow--blue.svg) linear-gradient(transparent, transparent) no-repeat 0 0;
		}
	}
	.cm-title, .cm-read-more, .cm-name, .cm-post-date {
		color: $ttc-blue;
	}
}


.cm-box--twitter  {
	.cm-box__inner {
		padding-left: 10px;
		padding-right: 10px;
		// border-color:$twitter-blue;
		border-image-source: url(../img/cm-box--twitter.png);
		&::after {
			background: url(../img/icon-cm-twitter.png ) no-repeat 0 0;
			background: url(../img/icon-cm-twitter.svg) linear-gradient(transparent, transparent) no-repeat 0 0;
		}
	}
	.cm-title, .cm-read-more, .cm-name, .cm-post-date {
		color: $ttc-blue;
	}
}
